TestData/
venv/
.DS_Store
*.pyc
*.ann
.vscode
running_dev_notes.md
TestRunner/TestResults/*
Embeddings/*
TestRunner/embedding_hashes.json
TestRunner/QuestionAnswer/*
app.log
RawData/*
ProcessedData/*
TestRunner/embedding_hashes.json
prodmirrorvenv/
.dockerignore
